.gabReeElUhOoGwuhNoLee {
  font-size: 1.5rem;
  line-height: 91%;
  font-weight: 800;
  text-align: center;
  flex-shrink: 0;
  z-index: 11;
  font-family: Futura;
  color: #fff67e;
  margin: 0.5rem;
}
.gabrielllaUgwonali {
  font-size: 5rem;
  line-height: 100%;
  font-family: Futura;
  color: #fff67e;
  flex-shrink: 0;
  z-index: 11;
  margin: 0.5rem;
}
.nameplate {
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 10;
  padding: 3rem;
  transform-origin: bottom left;
  transition: transform 0.3s ease;
}

@media (max-width: 768px) {
  .nameplate {
    transform: scale(0.75);
  }
}

@media (max-width: 500px) {
  .nameplate {
    transform: scale(0.6);
    left: 10px;
  }
}
