.subsection-title {
  font-size: 2rem;
  line-height: 100%;
  font-family: Futura;
  font-weight: 600;
  font-style: italic;
  color: #b94619ff;
  flex-shrink: 0;
  z-index: 11;
  text-align: left;
  margin: 1rem 0;
}
