.subsection-title {
  font-size: 2rem;
  line-height: 100%;
  font-family: "futura-100", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #b94619ff;
  flex-shrink: 0;
  z-index: 11;
  text-align: left;
  margin: 1rem 0;
}

.react-activity-calendar__tooltip {
  width: max-content;
  max-width: calc(100vw - 20px);
  padding: 0.2em 0.5em;
  border-radius: 0.25em;
  background-color: hsl(0 0% 10%);
  color: hsl(0 0% 94%);
  font-size: 13px;
  z-index: 16;

  /* See the `withArrow` setting. */
  .react-activity-calendar__tooltip-arrow {
    fill: hsl(0 0% 10%);
  }

  /* Use this instead of a media query - the component theme can be set */
  /* independent of the system color scheme. */
  &[data-color-scheme="dark"] {
    background-color: hsl(0 0% 94%);
    color: hsl(0 0% 6%);

    .react-activity-calendar__tooltip-arrow {
      fill: hsl(0 0% 94%);
    }
  }
}

.future-day {
  opacity: 0.3;
  filter: grayscale(100%);
  cursor: default;
}

.future-day:hover {
  opacity: 0.4;
}
